#!/usr/bin/env python
# -*- coding: utf-8 -*-

import sys
import os

from setuptools import setup, find_packages

version = '0.1'

setup(name='g-pypi',
    version=version,
    description="foobar",
    long_description="""foobar long""",
    keywords='gentoo linux distribution ebuild package pypi',
    author='foo author',
    author_email='foo@bar.com',
    url='http://www.google.com',
    license='BSD',
    zip_safe=False,
    packages=[],
)
